<!--Registro de usuario-->
<h1>Register</h1>
<form action="/login/registrar" method="post">

    <input type="text" name="usuario" placeholder="Ingresar nombre"><br><br>
    <input type="password" name="password" placeholder="Ingresar contraseña"><br><br>
    <input type="submit" value="Enviar">

</form>

<!--Inicio de usuario-->
<h1>Sigh In</h1>
<form action="/login/login" method="post">

    <input type="text" name="username" placeholder="Ingresa tu nombre"><br><br>
    <input type="password" name="password" placeholder="Ingresa tu contraseña"><br><br>
    <input type="submit" value="Enviar">

</form>